.card {
    padding: .5rem 1rem;
    margin: .5rem;
    border: 1px solid $brand-color-2;
    border-radius: .3rem;
    min-width: 250px;
}

.card__header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card__health {
    justify-self: end;
}

.card__footer {
    text-align: center;
}